html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
#root {
  display: flex;
  justify-content: center;
}
.container {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  font-family: inherit;
}
